/* header | background | type */

body { 
	background: #404040; 
	color: #fff;
}

a { 
	font-size: inherit; 
	color: rgb(251, 2, 22); 
}

.color-band { 
	height: 5px; 
	background: rgb(251, 2, 22);
}

dt { 
	color: rgb(251, 2, 22); 
}

.arabic {
	direction: rtl;  /* Right to Left */
	font-size: 2em; 
	/* old style font-family: 'Thabit', 'Scheherazade', Arial; */
	font-family: 'Droid Arabic Naskh', Arial; 
	margin: 0 0 25px 0;
	padding: 15px 30px 15px 30px; 
	background: #575757;
	border-bottom: 5px solid #000;
}

.arabic-normal {
	direction: rtl;  /* Right to Left */
	font-size: 1.8em; 
	/* old style font-family: 'Thabit', 'Scheherazade', Arial; */
	font-family: 'Droid Arabic Naskh', Arial; 
	margin: 0 0 25px 0; 
}

.arabic-header { 
	direction: rtl; 
}